{% load crispy_forms_tags %}
<div id="create-new-ppdd-hx-container">
    <div class="d-flex justify-content-between align-items-end pt-2">
        <div class="w-75">{{ form.ppdds|as_crispy_field }}</div>
        <div class="w-25 mx-2">
            <button
                    class="btn btn-primary"
                    hx-get="{{ hx_create_ppdd_url }}"
                    hx-target="#create-ppdd-modal"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add
	.show to #modal-backdrop">
                Create New PPDD
            </button>
        </div>
    </div>
</div>


<script type="text/javascript">
    document.body.addEventListener('htmx:afterSettle', async (event) => {
        // Call the initialization scripts here so they run when the DOM has settled after a swap
        // In my case this was:
        $('.django-select2').easy_select()
    });
</script>