{% load crispy_forms_tags %}

 <style>
       .create-new-project-hx-container{
            display: flex;
            flex-wrap: wrap; /* Allow items to wrap to the next line */
        }
    </style>

<div id="create-new-project-hx-container">
{#   <div style="display: inline-block; width: 89%;">#}
    <div class="project-field"i> {{ form.projects|as_crispy_field }} </div>
{#   </div>#}
{#   <div style="display: inline-block; width: 10%; text-align: right;">#}
    <div class="add-project-button">
        {% include "engagements/partials/hx_create_project_button.html" %}
        </div>
{#   </div>#}
{# </div>#}

<script type="text/javascript">
    document.body.addEventListener('htmx:afterSettle', async (event) => {
        // Call the initialization scripts here so they run when the DOM has settled after a swap
        // In my case this was:
        $('.django-select2').easy_select()
    });
</script>