{% load crispy_forms_tags %}
<div id="create-new-project-hx-container">
    {{ form.projects|as_crispy_field }}
    <button
	hx-get="{{ hx_create_project_url }}"
	hx-target="#create-project-modal"
	hx-trigger="click"
    hx-swap="innerHTML"
	_="on htmx:afterOnLoad wait 10ms then add .show to #modal then add
	.show to #modal-backdrop">
       Create New Project
    </button>
 </div>

<script type="text/javascript">
    document.body.addEventListener('htmx:afterSettle', async (event) => {
        // Call the initialization scripts here so they run when the DOM has settled after a swap
        // In my case this was:
        $('.django-select2').easy_select()
    });
</script>