{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <h4>Stakeholder details</h4>
        <p><font size="+1"><b>Name: </b>{{ object.first_name }} {{object.last_name}}</font></p>
        <p><font size="+1"><b>Organisation: </b>{{ object.organisation }}</font></p>
        <p><font size="+1"><b>Group: </b>{{ object.group }}</font></p>
        <p><font size="+1"><b>Team: </b>{{ object.team }}</font></p>
        <p><font size="+1"><b>Role: </b>{{ object.role }}</font></p>
    <p>
        <div class="btn-group btn-group-lg" role="group">
        <a {% if object.get_update_url %} href={{ object.get_update_url }}>Update{% endif %}</a>

        <button type="button" class="btn btn-default">Update</button>
        <a href="{{ object.get_absolute_url }}delete">Delete</a>
        <a href="../">Return</a>
        </div>
    </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h4>Engagements</h4>
        {% if engagement_list %}
                {% for object in engagement_list %}
                <p>
                <a href="{{ object.get_absolute_url }}">{{ object.date }}</a>
                </p>
            {% endfor %}
        {% else %}
            <p>None so far...</p>
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h4>Associated Projects</h4>
        {% if project_list %}
                {% for object in project_list %}
                <p>
                <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                </p>
                {% endfor %}
        {% else %}
            <p>None so far...</p>
        {% endif %}
    </div>


{% endblock %}