{% extends 'base.html' %}

{% block content %}

    <h1>Stakeholders Page</h1>
    <p><a href="{%  url 'stakeholders:create' %}">Create New Stakeholder Entry</a></p>
    <p>Stakeholder Lists. There are {{ object_list|length }} Stakeholders. These are listed below in
        alphabetical order (by surname):</p>

    {% for instance in object_list %}
        <p>
            <a href='{{ instance.get_absolute_url }}'>
                {{ instance.first_name }} {{ instance.last_name }}, {{ instance.organisation }}
            </a>
        </p>
    {% endfor %}

{% endblock %}