{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h1>Stakeholder Page</h1>
            <p><a href="{%  url 'stakeholders:create' %}">Create New Stakeholder Entry</a></p>
            <p>
                This tab contains a list of the various project team stakeholders we have engaged with, who are embedded in various projects around the department. Thus far {{ object_list|length }}. This list helps PPDD identify key team members we have or need to engage with should we need to contact a project team (please also see Project Tab)
            </p>
            <p>
                If you are looking for the details of a particular stakeholder please use the search bar.
            </p>
{#            <p>Stakeholder Lists. There are {{ object_list|length }} Stakeholders. These are listed below in alphabetical order (by surname):</p>#}
            {% for instance in object_list %}
                <p><a href='{{ instance.get_absolute_url }}'>{{ instance.first_name }} {{ instance.last_name }}, {{ instance.organisation }}</a></p>
            {% endfor %}
        </div>
    </div>

{% endblock %}