<div id="create-new-ppdd-hx-container-ppdd-list">
    <div class="container">
        <div class="row">
            <div class="row text-center p-3">
                <h1>PPDD Colleagues</h1>
                <p>
                    This page contains a list of the PPDD colleagues who have engaged with projects. Thus far there
                    are {{ object_list|length }}.
                    If you are looking for details on a particular ppdd colleague please use the search bar (below,
                    right).
                    If you need to create a new ppdd team member entry you can do so using the button below.
            </div>
       <p>
            <button
                    class="btn btn-primary"
                    hx-get="{{ hx_create_ppdd_url_list }}"
                    hx-target="#create-ppdd-modal"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    _="on htmx:afterOnLoad wait 9ms then add .show to #modal then add
                	.show to #modal-backdrop">
                Create New PPDD colleague
            </button>
            {#            <a href="{% url 'stakeholders:create' %}" class="btn btn-primary">Create New Stakeholder Entry</a>#}
            </p>
            <table class="display" id="table_id">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>My DfT</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in object_list %}
                    <tr>
                        <td>
                            <a href='{{ instance.get_absolute_url }}'>{{ instance.first_name }} {{ instance.last_name }}</a>
                        </td>
                        <td>
                            {% if instance.team %}
                                {{ instance.team }}
                            {% endif %}
                        </td>
                        <td>
                            {% if instance.organisation.name == "DfT(c)" %}
                                {% if instance.my_dft_url %}
                                    <p>
                                        <a href="{{ instance.my_dft_url }}" target="_blank">My DfT Link</a>
                                    </p>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
