

<div style="margin-top: 30px;">
        <form action='.' method="POST" hx-post="." hx-swap="outerHTML">
{#            hx-trigger="change delay:500ms, submit">#}
            {% csrf_token %}
            {{ form.as_p }}
            <div class="htmx-indicator">Saving...</div>
            <input class="htmx-inverted_indicator" type="submit" value="Save"/>
            <a href="{{ object.get_absolute_url }}">Return</a>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </form>

</div>