<div id="create-new-project-hx-container-p-list">
    <div class="container-fluid">
        <div class="row">
            <h3>Projects Page</h3>
            <p>
                This page provides a list of all the projects and programmes we have engaged with thus far:
                currently {{ object_list|length }}. This list should not be viewed as a complete/comprehensive list
                of
                projects and programmes in the department, but more as a list of those we have engaged with (see
                Neil
                Nevil for a list of all projects and programmes across the DfT Portfolio).
            <p>
                The list below provides insight into the range of projects across model areas that have sought our
                advice and support. Click on a project to review our engagement and the types of issues they have
                asked
                us to help them address.
            </p>

            <p>
                If you are looking for details on a particular project please use the search bar (below, right). If
                you
                need to create a new project entry you can do so using the button below.
            </p>

        <p>
            <button
                    class="btn btn-primary"
                    hx-get="{{ hx_create_project_url_list }}"
                    hx-target="#create-project-modal"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    _="on htmx:afterOnLoad wait 9ms then add .show to #modal then add
                	.show to #modal-backdrop">
                Create New Project
            </button>

        </p>
            <table class="display" id="table_id">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Abbreviation</th>
                    <th>Type</th>
                    <th>Tier</th>
                    <th>Group</th>
                    <th>Stage</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in object_list %}
                    <tr>
                        <td>
                            <a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a>
                        </td>
                        <td>{{ instance.abbreviation }}</td>
                        <td>{{ instance.sort }}</td>
                        <td>
                            {% if instance.tier %}
                                {{ instance.tier }}
                            {% endif %}
                        </td>
                        <td>
                            {% if instance.dft_group %}
                                {{ instance.dft_group }}
                            {% endif %}
                        </td>
                        <td>
                            {% if instance.stage_name %}
                                {{ instance.stage_name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
