<style>
    .scrollable-div::-webkit-scrollbar {
        width: 10px;
    }

    .scrollable-div::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollable-div::-webkit-scrollbar-thumb {
        background: #888;
    }

    .scrollable-div::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>

<div id="update-project-details-container">
    <div class="row m-1">
        <div class="col text-center p-4">
            <h4>
                <b>{{ object.name }}</b>
            </h4>
            <button
                    class="btn btn-primary"
                    hx-get="{{ hx_update_project_url }}"
                    hx-target="#create-project-modal"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    _="on htmx:afterOnLoad wait 9ms then add .show to #modal then add
                	.show to #modal-backdrop">
                Update Details
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 p-4 custom-box-one">
            <div class="col">
                <p>
                    <b>Abbreviation: </b> {{ object.abbreviation }}
                </p>
                <p>
                    <b>Type: </b> {{ object.sort }}
                </p>
                <p>
                    <b>Group: </b> {{ object.dft_group }}
                </p>
                <p>
                    {% if object.tier %}
                        <b>Tier: </b> {{ object.tier }}
                    {% endif %}
                </p>
                <p>
                    {% if object.stage_name %}
                        <b>Stage: </b> {{ object.stage_name }}
                    {% endif %}
                </p>
            </div>
            <div class="col">
                <b>Scope: </b>
                <div class="scrollable-div" style="max-height: 300px; overflow-y: scroll;">
                    {% if object.scope %}
                        <pre>{{ object.scope }}</pre>
                    {% else %}
                        No scope given.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-4 custom-box-one">
            <div class="col text-center p-4">
                {% if engagement_list %}
                    <p><b>{{ engagement_list.count }} Engagements:</b></p>
                {% endif %}
                {% for instance in engagement_list %}
                    <a href='{{ instance.get_absolute_url }}'>{{ instance.date }}</a>{% if not forloop.last %};
                {% else %}.{% endif %}
                {% empty %}
                    <b>No Engagements so far...</b>
                {% endfor %}
            </div>
            <div class="col text-center p-4">
                {% if stakeholder_list %}
                    <p><b>{{ stakeholder_list.count }} Stakeholders:</b></p>
                {% endif %}
                {% for instance in stakeholder_list %}
                    <a href='{{ instance.get_absolute_url }}'>{{ instance }}</a>{% if not forloop.last %};
                {% else %}.{% endif %}
                {% empty %}
                    <b>No Stakeholders so far...</b>
                {% endfor %}
            </div>
        </div>
    </div>
</div>