<style>
    .scrollable-div::-webkit-scrollbar {
        width: 10px;
    }

    .scrollable-div::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollable-div::-webkit-scrollbar-thumb {
        background: #888;
    }

    .scrollable-div::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<div id="update-project-details-container">
    <div class="row">
        <div class="col text-center">
            <h4>
                <b>{{ object.name }}</b>
            </h4>
            <button
                    class="btn btn-primary"
                    hx-get="{{ hx_update_project_url }}"
                    hx-target="#create-project-modal"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    _="on htmx:afterOnLoad wait 9ms then add .show to #modal then add
                	.show to #modal-backdrop">
                Update Details
            </button>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col border p-4">
            <b>Scope: </b>
       <div class="scrollable-div" style="max-height: 150px; overflow-y: scroll;">
{#            <div style="max-height: 150px; overflow-y: scroll;">#}
                {% if object.scope %}
                    <pre>{{ object.scope }}</pre>
                {% else %}
                    No scope given.
                {% endif %}
            </div>
        </div>
        <div class="col p-4">
            <p>
                <b>Abbreviation: </b> {{ object.abbreviation }}
            </p>
            <p>
                <b>Type: </b> {{ object.sort }}
            </p>
            <p>
                <b>Group: </b> {{ object.dft_group }}
            </p>
            <p>
                {% if object.tier %}
                    <b>Tier: </b> {{ object.tier }}
                {% endif %}
            </p>
            <p>
                {% if object.stage_name %}
                    <b>Stage: </b> {{ object.stage_name }}
                {% endif %}
            </p>
        </div>
    </div>


</div>