<div id="create-new-stakeholder-hx-container-s-list">
    <div class="container">
        <div class="row">
            <div class="row text-center p-3">
                <h1>Stakeholders</h1>
                <p>
                    This page contains a list of the various project team stakeholders we have engaged with, who are
                    embedded in
                    various projects around the department. Thus far {{ object_list|length }}. This list helps to
                    identify
                    key
                    team members we have or need to engage with should we need to contact a project team.
                    {#            </p>#}
                    {#            <p>#}
                    If you are looking for the details of a particular stakeholder please use the search bar (below,
                    right).
                    If
                    you need to create a new stakeholder entry you can do so using the button below.
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <p>

                    <button
                            class="btn btn-primary"
                            hx-get="{{ hx_create_stakeholder_url_list }}"
                            hx-target="#create-stakeholder-modal"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                            _="on htmx:afterOnLoad wait 9ms then add .show to #modal then add
                	.show to #modal-backdrop">
                        Create New Stakeholder
                    </button>
                    {#            <a href="{% url 'stakeholders:create' %}" class="btn btn-primary">Create New Stakeholder Entry</a>#}
                </p>
{#                </div>#}
                <table class="display" id="table_id">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Organisation</th>
                        <th>My DfT Information</th>
                        {#                    <th>DfT Group</th>#}
                        {#                    <th>Team</th>#}
                        {#                    <th>Role</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in object_list %}
                        {#                <p><a href='{{ instance.get_absolute_url }}'>{{ instance.first_name }} {{ instance.last_name }}</a></p>#}
                        <tr>
                            <td>
                                <a href='{{ instance.get_absolute_url }}'>{{ instance.first_name }} {{ instance.last_name }}</a>
                            </td>
                            <td>{{ instance.organisation }}</td>
                            <td>
                                {% if instance.organisation.name == "DfT(c)" %}
                                    {% if instance.my_dft_url %}
                                        <p>
                                            <a href="{{ instance.my_dft_url }}" target="_blank">My DfT Link</a>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {#                        <td>#}
                            {#                            {% if instance.dft_group %}#}
                            {#                                {{ instance.dft_group }}#}
                            {#                            {% endif %}#}
                            {#                        </td>#}
                            {#                        <td>#}
                            {#                            {% if instance.team %}#}
                            {#                                {{ instance.team }}#}
                            {#                            {% endif %}#}
                            {#                        </td>#}
                            {#                        <td>#}
                            {#                            {% if instance.role %}#}
                            {#                                {{ instance.role }}#}
                            {#                            {% endif %}#}
                            {#                        </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
