<div id="update-stakeholder-details-container">
    <div class="row">
        <div class="col text-center p-4">
            <h4>
                <b>
                    {{ object.first_name }} {{ object.last_name }}
                </b>
                {% if object.organisation.name != "DfT(c)" %}
                    <b>
                        ({{ object.organisation }})
                    </b>
                {% endif %}
            </h4>
            {% if object.organisation.name == "DfT(c)" %}
                {% if object.my_dft_url %}
                    <a class="btn btn-success" href="{{ object.my_dft_url }}" target="_blank">My DfT Link</a>
                {% endif %}
            {% endif %}
            <button
                    class="btn btn-primary"
                    hx-get="{{ hx_update_stakeholder_url }}"
                    hx-target="#create-stakeholder-modal"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    _="on htmx:afterOnLoad wait 9ms then add .show to #modal then add
                	.show to #modal-backdrop">
                Update Details
            </button>
        </div>
    </div>
</div>