{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h4>{% if form.instance.pk %}Edit Details{% else %}Create Project Entry{% endif%}</h4>
            {% if error_msg is not None %}
                <h5>Project with this name already exists</h5>
            {% endif %}
            <div class="form-group">
                <form method="POST" novalidate> {% csrf_token %}
                    <div class="row mt-1">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {{ form.name|as_crispy_field }}
                            {{ form.sort|as_crispy_field }}
                            {{ form.dft_group|as_crispy_field }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {{ form.abbreviation|as_crispy_field }}
                            {{ form.tier|as_crispy_field }}
                            {{ form.stage_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            {{ form.scope|as_crispy_field }}
                        </div>
                    </div>

                    <br><input class="btn btn-primary"  type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>

{#    <div style="margin-top: 30px;">#}
{#        {% include 'projects/partials/forms.html' %}#}
{##}
{#    </div>#}

{% endblock %}

