{% extends 'base.html' %}

{% block content %}

    <div class="container-md p-5">
    <a href={% url "projects:list" %}>Back to list of projects</a>
    <p></p>
    <p></p>
    {% include "projects/partials/hx_update_project.html" %}
    <p></p>
    <div class="row">
        <div class="col text-center p-4">
            {% if engagement_list %}
                <p><b>{{ engagement_list.count }} Engagements:</b></p>
            {% endif %}
            <p>
                {% for instance in engagement_list %}
                    <a href='{{ instance.get_absolute_url }}'>{{ instance.date }}</a>{% if not forloop.last %};
                {% else %}.{% endif %}
                {% empty %}
                    <b>No Engagements so far...</b>
                {% endfor %}
        </div>
        <div class="col text-center p-4">
            {% if stakeholder_list %}
                <p><b>{{ stakeholder_list.count }} Stakeholders:</b></p>
            {% endif %}
            {% for instance in stakeholder_list %}
                <a href='{{ instance.get_absolute_url }}'>{{ instance}}</a>{% if not forloop.last %};
            {% else %}.{% endif %}
            {% empty %}
                <b>No Stakeholders so far...</b>
            {% endfor %}
        </div>
    </div>
{% endblock %}


