{% extends 'base.html' %}

{% block content %}

    <script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
    </script>
    <div class="container-fluid">
        <div class="row">
            <h1>Projects Page</h1>
            <p><a href="{%  url 'projects:create' %}">Create New Project Entry</a></p>
            <p>
                This tab provides a list of all the projects and programmes we have engaged with thus far: currently {{ object_list|length }}. This list should not be viewed as a complete/comprehensive list of projects and programmes in the department, but more as a list of those we have recently engaged with (see Neil Nevil for a list of all projects and programmes across the DfT Portfolio).
            </p>
            <p>
                The list below provides insight into the range of projects across model areas that have sought our advice and support. Click on a project to review our engagement and the types of issues they have asked us to help them address.
            </p>

            <p>
                If you are looking for details on a particular project please use the search bar.
            </p>

{#            <p>Project Lists. There are {{ object_list|length }} projects. These are listed below:</p>#}
{#            {% for instance in object_list %}#}
{#                <p><a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a></p>#}
{#            {% endfor %}#}
            <table class="display" id="table_id">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Abbreviation</th>
                        <th>Type</th>
                        <th>Tier</th>
                        <th>Group</th>
                        <th>Stage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in object_list %}
                    <tr>
                        <td>
                            <a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a>
                        </td>
                        <td>{{ instance.abbreviation }}</td>
                        <td>{{ instance.type }}</td>
                        <td>
                            {% if instance.tier %}
                                {{ instance.tier }}
                            {% endif %}
                        </td>
                        <td>
                            {% if instance.dft_group %}
                                {{ instance.dft_group }}
                            {% endif %}
                        </td>
                        <td>
                            {% if instance.stage_name %}
                                {{ instance.stage_name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}