{% extends 'base.html' %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}

{% block content %}
    <font size="+1"><b>Project Name: </b>{{ object.name }}</font>
    <p><font size="+1"><b>Type: </b>{{ object.type }}</font></p>
    <p><font size="+1"><b>Abbreviation: </b>{{ object.abbreviation }}</font></p>
    <p><font size="+1"><b>Governance: </b>{{ object.governance }}</font></p>
    <p><font size="+1"><b>Stage: </b>{{ object.stage }}</font></p>
    <p><font size="+1"><b>Scope: </b>{{ object.scope }}</font></p>

    <p>
        <a href="{{ object.get_absolute_url }}update">Update</a>
        <a href="{{ object.get_absolute_url }}delete">Delete</a>
        <a href="../">Return</a>
    </p>

{% endblock %}

{#</html>#}



