{% extends 'base.html' %}

{% block content %}
    <div class="container-md p-5">
        <a href={% url "ppdds:list" %}>Back to list of ppdd colleagues</a>
        <p></p>
        <p></p>
        {% include "ppdds/partials/hx_update_ppdd.html" %}
        <p></p>
        <div class="row">
            <div class="col text-center p-4">
                {% if engagement_list %}
                    <p><b>{{ engagement_list.count }} Engagements:</b></p>
                {% endif %}
                <p>
                    {% for instance in engagement_list %}
                        <a href='{{ instance.get_absolute_url }}'>{{ instance.date }}</a>{% if not forloop.last %};
                    {% else %}.{% endif %}
                    {% empty %}
                        <b>No Engagements so far...</b>
                    {% endfor %}
            </div>
            <div class="col text-center p-4">
                {% if project_list %}
                    <p><b>{{ project_list.count }} Projects:</b></p>
                {% endif %}
                {% for instance in project_list %}
                    <a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a>{% if not forloop.last %};
                {% else %}.{% endif %}
                {% empty %}
                    <b>No Projects so far...</b>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}