{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <style>
        .htmx-indicator {
            display: none;
        }
        .htmx-request .htmx-indicator {
            display: inline;
        }
        .htmx-inverted-indicator {
            display: inline;
        }
        .htmx-request .htmx-inverted-indicator {
            display: none;
        }
    </style>
    <title>PPDD Project Tracker</title>
</head>
<body>
    {% include 'navbar.html' %}
{#    {% include 'search.html' %}#}

    {% block content %}
    replace me
    {% endblock %}

</body>
</html>