
{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="hero">
    <div class="container">
      <div class="left-col">
        <p class="subhead">PPDD Let's Collaborate</p>
        <h1>An Engagement App for staying joined-up</h1>

        <div class="hero-cta">
          <a href="#" class="primary-cta">Record Engagement!</a>
        </div>
      </div>

      <img src= {% static 'project_tracker/illustration.svg' %} class="hero-img" alt="Illustration">

    </div>
  </section>

{% endblock %}