
{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="hero">
    <div class="container">
      <div class="left-col">
        <p class="subhead">PPDD Let's Collaborate</p>
        <h1>An Engagement App for staying joined-up</h1>

        <div class="hero-cta">
          <a href="{%  url 'engagements:engagement-create' %}" class="primary-cta">Record Engagement!</a>
        </div>
      </div>

      <img src= {% static 'pages/illustration.svg' %} class="hero-img" alt="Illustration">

    </div>

    <div>

        <p style="margin-top: 6em">
            Welcome to the Portfolio and Project Delivery Directorate (PPDD) Engagement Tracker. This tool has been developed to help PPDD track the projects we engage with on an ad hoc basis, with the aim of helping us understand not only who we have shared information with, but also to help identify the various themes that's we engage with colleagues on, to assess trends and also inform PPDDs approach in communicating Project Delivery improvement areas.
        </p>

        <p>
            As the tool develops additional features will be added to help provide a richer awareness of our performance in providing advice and engaging with product team members.
        </p>
    </div>
  </section>

{% endblock %}