{% extends 'base.html' %}

{% load static %}

{% block content %}

    <iframe
            title="Engagement Tracker MI"
            src="https://app.powerbi.com/reportEmbed?reportId=9e18cd14-dd98-40ee-9e2c-b9f0df5ddbbb&autoAuth=true&ctid=28b782fb-41e1-48ea-bfc3-ad7558ce7136"
            style="position:fixed; left:0; bottom:0; right:0; width:100%; height:90%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
            frameborder="0"
            allowFullScreen="true">
    </iframe>


{% endblock %}