{% extends 'base.html' %}

{% load static %}

{% block content %}

    <iframe
            title="Engagement Tracker MI"
            src="https://app.powerbi.com/reportEmbed?reportId=9895610b-4426-4b0e-9c91-85c03bf95c8c&autoAuth=true&ctid=28b782fb-41e1-48ea-bfc3-ad7558ce7136&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1pLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
            style="position:fixed; left:0; bottom:0; right:0; width:100%; height:90%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
            frameborder="0"
            allowFullScreen="true">
    </iframe>


{% endblock %}