{#<nav>#}
{#    <ul>#}
{#        <li><a href="{% url "home" %}">Home</a></li>#}
{#        <li><a href="/projects/">Projects</a></li>#}
{#        <li><a href="/stakeholders/">Stakeholder</a></li>#}
{#        <li><a href="/ppdds/">PPDD colleagues</a></li>#}
{#        <li><a href="/engagements/">Engagements</a></li>#}
{#    </ul>#}
{#    <form class="d-flex" method="POST" action="{% url 'search' %}">{% csrf_token %}#}
{#    <input class="form-control me-2" type="search" placeholder="Search" name="searched">#}
{#        <button>Search</button>#}
{#        <p></p>#}
{#    </form>#}
{#</nav>#}


<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
{#    <a class="navbar-brand" href="#">Navbar</a>#}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{% url "home" %}">Home</a>
          <a class="nav-link" href="/projects/">Projects</a>
          <a class="nav-link" href="/stakeholders/">Stakeholder</a>
          <a class="nav-link" href="/ppdds/">PPDD colleagues</a>
          <a class="nav-link" href="/engagements/">Engagements</a>
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">Link</a>#}
{#        </li>#}
      </ul>
        {% if request.user.is_authenticated %}
      <form class="d-flex" method="POST" action="{% url 'search' %}">{% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" name="searched">
        <button>Search</button>
      </form>
        {% endif %}
    </div>
  </div>
</nav>