<nav>
    <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/stakeholders/">Stakeholder</a></li>
        <li><a href="/ppdds/">PPDD colleagues</a></li>
        <li><a href="/engagements/">Engagements</a></li>
    </ul>
    <form class="d-flex" method="POST" action="{% url 'search' %}">{% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search" name="searched">
        <button>Search</button>
    </form>
</nav>