{% extends 'base.html' %}

{% block content %}
{% if searched %}
    <h2>Projects associated with search</h2>
    <ol>{% for object in search_object_list %}
        {% if object.name %}
            <li>
            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ol>
{% else %}
    <h1>Hey you forgot to search for something...</h1>
{% endif %}


{% endblock %}


{#<form action="/search" method="get">#}
{#    <input type="text" name="submit" placeholder="Search"/>#}
{#    <input type="submit"/>#}
{#</form>#}
{##}
{#<div>#}
{#    <form action="/search" method="get">#}
{#    <input type="text" placeholder="Search..">#}
{#    </form>#}
{#</div>#}
{##}
