{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {{ form.date|as_crispy_field}}

        <script>
          $.noConflict();  //Not to conflict with other scripts
            jQuery(document).ready(function($){
            $("#id_date").datepicker({
              format:'dd/mm/yyyy',
                {#autoHide: true,#}
                {#zIndex: 9999,#}
            });
          });
        </script>

    {{ form.summary|as_crispy_field }}

    {{ form.projects|as_crispy_field }}




{% endblock %}