{% extends 'base.html' %}

{% block content %}

    <h3>Date:</h3><p>{{ object.date }}</p>

    <h3>Project(s):</h3>
    {% for instance in project_list %}
    <p>{{ instance }}</p>
    {% endfor %}

    <h3>Stakeholder(s):</h3>
    {% for instance in stakeholder_list %}
    <p>{{ instance }}</p>
    {% endfor %}

    <h3>PPDD colleague(s):</h3>
    {% for instance in ppdd_list %}
    <p>{{ instance }}</p>
    {% endfor %}

    <h3>Engagement Type(s): {{ object.type }}</h3>
    {% for instance in type_list %}
    <p>{{ instance }}</p>
    {% endfor %}

    <h3>PDIP Workstream Type(s):</h3>
    {% for instance in ws_list %}
    <p>{{ instance }}</p>
    {% endfor %}

    <h3>Summary:</h3><p>{{ object.summary }}</p>

    <h4>Follow-up Date:</h4><p>{{ object.follow_up_date }}</p>

    <p>
        <a href="{{ object.get_absolute_url }}update">Update</a>
        <a href="{{ object.get_absolute_url }}delete">Delete</a>
        <a href="../">Return</a>
    </p>


{% endblock %}