{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="p-5">
{#    <div class="p-5 pl-5 pr-5 pb-5">#}
        <div class="text-center">
            <h4>{% if form.instance.pk %}Edit Engagement{% else %}Create New Engagement{% endif %}</h4>
        </div>
        <div>
            <h6>Fields with asterix are mandatory</h6>
        </div>
        <form method="post" novalidate>{% csrf_token %}
            <div class="w-50 pt-2">{{ form.date|as_crispy_field }}</div>

            {% include "engagements/partials/hx_create_project_partial.html" %}

            {% include "engagements/partials/hx_create_stakeholder_partial.html" %}

            {% include "engagements/partials/hx_create_ppdd_partial.html" %}

            <div class="pt-2 w-75">{{ form.topics|as_crispy_field }}</div>

            <div class="pt-2">{{ form.summary|as_crispy_field }}</div>
            <br><input class="btn btn-primary" type="submit"
                       value="{% if form.instance.pk %}Save{% else %}Create{% endif %}">
            <a class="btn btn-primary" href="../">Cancel</a></p>
        </form>
    </div>
{% endblock %}