{% extends 'base.html' %}

{% block content %}

    <script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
    </script>

    <div class="container-fluid">
        <div class="row">
            <h1>Engagements Page</h1>
            <p><a href="{%  url 'engagements:engagement-create' %}">Create new Engagement here</a></p>
            <p>
                This contains a list of general engagements with projects, {{ object_list|length }} so far, and helps illustrate our performance across specific timeframe. We are working on how information is displayed on this page.
            </p>
            <p>
                If you are looking for an engagement with a particular person or project please use the search bar.
            </p>
{#            <p>Engagements Lists. There are {{ object_list|length }} engagements. The date these engagements took place are listed below.</p>#}
{#            {% for instance in object_list %}#}
{#                <p><a href='{{ instance.get_absolute_url }}'>{{ instance.date }}</a></p>#}
{#            {% endfor %}#}
            <table class="display" id="table_id">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Projects</th>
                        <th>Stakeholders</th>
                        <th>PPDD colleagues</th>
                        <th>Topic</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in object_list %}
                    {#                <p><a href='{{ instance.get_absolute_url }}'>{{ instance.first_name }} {{ instance.last_name }}</a></p>#}
                    <tr>
                        <td>
                            <a href='{{ instance.get_absolute_url }}'>{{ instance.date }}</a>
                        </td>
                        <td>
                            {% for project in instance.projects.all %}
                                <ul>{{ project.name }}</ul>
                            {% endfor %}
                        </td>
                        <td>
                            {% for stakeholder in instance.stakeholders.all %}
                                <ul>{{ stakeholder.first_name }} {{ stakeholder.last_name }}</ul>
                            {% endfor %}
                        </td>
                        <td>
                            {% for ppdd in instance.ppdds.all %}
                                <ul>{{ ppdd.first_name }} {{ ppdd.last_name }}</ul>
                            {% endfor %}
                        </td>
                        <td>
                            {% for topic in instance.topics.all %}
                                <ul>{{ topic }}</ul>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}