{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="row text-center p-3">
                <h1>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        Engagements
                    </p>
                </h1>
{#                <h1>Engagements</h1>#}
                <p>
                    This contains a list of all engagements by date and helps illustrate our performance over
                    time.
                    If you are looking for any particular engagement please use the search bar (below, right).
                    If you need to create a new engagement you can do so using the button below.
                </p>
            </div>
            <p>
                <a href="{% url 'engagements:engagement-create' %}" class="btn btn-primary">Create new
                    Engagement</a>
            </p>

            <table class="display" id="table_id">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Projects</th>
                    <th>Stakeholders</th>
                    <th>PPDD colleagues</th>
                    <th>Topic</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in object_list %}
                    <tr>
                        <td>
                            <a href='{{ instance.get_absolute_url }}'>{{ instance.date }}</a>
                        </td>
                        <td>
                            {% for project in instance.projects.all %}
                                <ul>
                                <a href='{{ project.get_absolute_url }}'>{{ project }}</a>
                                </ul>
                            {% endfor %}
                        </td>
                        <td>
                            {% for stakeholder in instance.stakeholders.all %}
                                <ul>
                                <a href='{{ stakeholder.get_absolute_url }}'>{{ stakeholder }}</a>
                                </ul>
                            {% endfor %}
                        </td>
                        <td>
                            {% for ppdd in instance.ppdds.all %}
                                <ul>
                                    <a href='{{ ppdd.get_absolute_url }}'>{{ ppdd }}</a>
                                </ul>
                            {% endfor %}
                        </td>
                        <td>
                            {% for topic in instance.topics.all %}
                                <ul>{{ topic }}</ul>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    {#    </div>#}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                    columnDefs: [{type: 'date', 'targets': [0]}],
                    order: [[0, 'desc']]
                }
            );
        });
    </script>
{% endblock %}