{% extends 'base.html' %}

    <title>
        {% if form.instance.pk %}Edit engagement{{ form.instance }}
        {% else %}Create engagement{% endif %}
    </title>

{% block content %}


    <h4>{% if form.instance.pk %}Edit engagement{% else %}Create new engagement{% endif%}</h4>
    <p></p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit"
               value="{% if form.instance.pk %}Save{% else %}Create{% endif%}">
                <a class="btn btn-primary" href="../">Cancel</a></p>
    </form>

{% endblock %}